ACTIVE_STORAGE_SERVICE=local
CHATWOOT_DEFAULT_LOCALE=pt_BR
CHATWOOT_MAILER_SENDER_EMAIL=
CHATWOOT_SMTP_ADDRESS=
CHATWOOT_SMTP_AUTHENTICATION=
CHATWOOT_SMTP_DOMAIN=
CHATWOOT_SMTP_ENABLE_STARTTLS_AUTO=
CHATWOOT_SMTP_PASSWORD=
CHATWOOT_SMTP_PORT=
CHATWOOT_SMTP_USERNAME=
ENABLE_ACCOUNT_SIGNUP=false
FORCE_SSL=false
INSTALLATION_ENV=docker
NODE_ENV=production
POSTGRES_DB=chatwoot_production
POSTGRES_HOST=okocw0ko8sgkcsks8owgss8k
POSTGRES_HOST=okocw0ko8sgkcsks8owgss8k
POSTGRES_PASSWORD=mR8p2Qz9tDu5Xe3T
POSTGRES_USER=chatwoot_user
POSTGRES_USERNAME=postgres
RAILS_ENV=production
RAILS_MAX_THREADS=5
REDIS_OPENSSL_VERIFY_MODE=none
REDIS_PASSWORD=RHjczqEiRo2hmYc3f0aVwd6mV3dsun2xFWNFtJ6exDPmYxbKVY0RCFNbRI4gRVBy
SECRET_KEY_BASE=mR8p2Qz9t#D@u5Xe3T
SERVICE_FQDN_CHATWOOT=(Locked Secret, delete and add again to change)
SERVICE_PASSWORD_CHATWOOT=mR8p2Qz9tDu5Xe3T
SERVICE_PASSWORD_POSTGRES=mR8p2Qz9tDu5Xe3T
SERVICE_PASSWORD_REDIS=RHjczqEiRo2hmYc3f0aVwd6mV3dsun2xFWNFtJ6exDPmYxbKVY0RCFNbRI4gRVBy
SERVICE_USER_POSTGRES=chatwoot_user